<ion-card>
  <ion-card-content>
    <ion-row >
      <ion-col class="ion-text-left">
        <p>{{spendingPeriod |  date:'MMM yyyy' }}</p>
      </ion-col>
      <ion-col class="ion-text-right">
        <p>{{daysLeft}}</p>
      </ion-col>
    </ion-row>
    <div class="ion-padding-vertical ion-text-center" style="height:230px">
      <ngx-gauge  [type]="gaugeType" 
                  size="250" 
                  [value]="gaugeValue" 
                  [label]="gaugeLabel" 
                  [prepend]="gaugePrependText" 
                  thick="12" 
                  cap="round" 
                  foregroundColor="rgb(0, 71, 204)"
                  [max]="gaugeMaxValue"
                  [animate]="enabled"
      >
      <ngx-gauge-value>
        <span style="font-size:2.5rem;">
          {{ totalSpendAmount  | currency }}
        </span>
        
      </ngx-gauge-value>
      <!-- 
      
      <ngx-gauge-prepend>
        <img src="assets/images/card.svg" alt="">
      </ngx-gauge-prepend> 
      -->
      </ngx-gauge>
  
      <div class="inside-guage ion-text-center">
        <img src="assets/images/card.svg" alt="">
        <p>Money remaining</p>
      </div>
    </div>
  
    <ion-grid>

      <ion-row>
        <ion-col class="ion-text-right" size="5">
          <ion-text>Needs</ion-text> &nbsp; <ion-icon name="wallet-outline"></ion-icon> <br/>
          <strong>{{totalNeedsAmount| currency}}</strong>
        </ion-col>
        <ion-col size="2"></ion-col>
        <ion-col size="5" class="ion-text-left">
          <ion-icon name="cart-outline"></ion-icon> &nbsp; <ion-text>Wants</ion-text>   <br/>
          <strong>{{totalWantsAmount| currency}}</strong>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col class="ion-text-right" size="5">
          <ion-text>Social</ion-text> &nbsp;  <ion-icon name="gift-outline"></ion-icon>  <br/>
          <strong>{{totalCultureAmount| currency}}</strong>
        </ion-col>
        <ion-col size="2"></ion-col>
        <ion-col size="5" class="ion-text-left">
          <ion-icon name="thunderstorm-outline"></ion-icon> &nbsp; <ion-text>Unexpected</ion-text> <br/>
          <strong>{{totalUnexpectedAmount| currency}}</strong>
        </ion-col>
      </ion-row>
    
    </ion-grid>
  </ion-card-content>
</ion-card>

