<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">

    <ion-item>
      <ion-label position="stacked">Current</ion-label>
      <ion-input [formControl]="oldPassword" type="password"></ion-input>
    </ion-item>

  </ion-list>

  <ion-list lines="full">

    <ion-item>
      <ion-label position="stacked">New</ion-label>
      <ion-input [formControl]="newPassword" type="password"></ion-input>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer no-border>
  <ion-toolbar class="transparent">
    <ion-button expand="block"  (click)="save()" >
      Change
    </ion-button>
  </ion-toolbar>
</ion-footer>