ion-toolbar {
  --border-width: 0;
  --background: #0047CC !important;
  --color: white !important;

  ion-title{
      font-weight: 400 !important;
  }
}


ion-content{
  --background: #F8F9F9!important;
  
  ion-list {
    margin-top:20px;
    padding-top:0px;
    padding-bottom:0px;
    
    /*
    ion-item:first-of-type {
      border-top: 1px solid var(--ion-item-border-color,var(--ion-border-color,var(--ion-color-step-150,rgba(0,0,0,0.13)))) !important;
    }
    */
    
  }
}