<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Spending Limit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">

    <ion-item>
      <ion-label position="stacked">Spending Limit</ion-label>
      <app-currency-input precision="2" [amountIn]="spendingLimit.value" (amountEntered)="amountChanged($event)" ></app-currency-input>   
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer no-border>
  <ion-toolbar class="transparent">
    <ion-button expand="block"  (click)="save()" >
      Save
    </ion-button>
  </ion-toolbar>
</ion-footer>