.the-content{
  padding: 0 16px;
  margin-top: 10% !important;
  .the-title
  {
      h2{
          font-weight: 400 !important;
          margin-top: 0 !important;
      }
  }

  .btns-holder
  {
      margin-top: 40px;
      ion-button{
          --border-color: rgba(119, 134, 158, 0.39) !important;
          --border-radius: 10px !important;
          --border-style: solid;
          --border-width: 1px;
          width: 100% !important;

          height: 45px !important;

      }
  }

  form{
      padding-left: 0px;
      margin-top: 15px;
      
      .details{
        padding-left: 0px;
      
          .detail-item{
              --highlight-color-invalid:red;
              --highlight-color-valid: #2AD95A;
              margin-top: 10px !important;
              padding-left: 0px;
              
              ion-label{
                  color: #77869E !important;
                  font-size: .9rem !important;
                  font-weight: 400 !important;
              }

              ion-item{
                padding-left: -100px;

                ion-input {
                  padding-left:0px;
                  margin-left:0px;
                  left:0;
                }
              }

              .icn{
                  ion-icon{
                      color: #2AD95A !important;
                      font-size: 1.5rem !important;
                  }
              }
          }
  
          .error-messages
          {
              font-size: 0.7em;
              color: red;
              text-align:center;
          }
  
          #rem {
              ion-label{
                  font-size: 0.9rem !important;
                  color: #77869E !important;
              }
          }
          ion-checkbox{
           margin-right: 5px !important;
          }
          .col-forgot
          {
              p{
                  font-size: 0.9rem !important;
                  color: #0047CC !important;
                //  margin: 0 !important;
              }
          }
        
      }
  
      .loginbtn-holder
      {
          ion-button{
              height: 45px !important;
              text-transform: none !important;
              border-radius: 12px !important;
          }
      }  
  }
 

  .signup-holder
  {
      margin-top: 20px !important;
      p{
          color: #77869E;
          span{
              font-weight: bolder !important;
              color: #042C5C;
          }
      }
  }
}

.vertical-bottom {
  position: absolute; bottom: 0; width: 100%
}