<ion-content>
  <div class="the-content">
    <div class="the-title">
      <h2>Welcome Back</h2>
    </div>
    <div class="btns-holder">
      <ion-row>
        <ion-col>
          <ion-button fill="none" text-center>
            <img src="assets/images/facebook.svg" alt="">
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="none" text-center>
            <img src="assets/images/google.svg" alt="">
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    <form [formGroup]="loginForm">
      <div class="details">

        <div class="detail-item">

          <ion-item>
            <span class="icn" slot="end" *ngIf="!username.invalid">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </span>
            <ion-input formControlName="username" class="username" placeholder="Email" type="email"> </ion-input>
          </ion-item>

          <div class="error-messages">
            <ng-container *ngFor="let error of errorMessages.username">
              <div class="error-message"
                *ngIf="username.hasError(error.type) && (username.dirty || username.touched)">
                {{error.message}}
              </div>
            </ng-container>
          </div>
        </div>
        <div class="detail-item">

          <ion-item>
            <span class="icn" slot="end" *ngIf="!password.invalid">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </span>
            <ion-input class="password" placeholder="Password" formControlName="password" type="password"></ion-input>
          </ion-item>
        </div>


        <div class="error-messages">
          <ng-container *ngFor="let error of errorMessages.password">
            <div class="error-message"
              *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
              {{error.message}}
            </div>
          </ng-container>
        </div>

        <div class="second-item">
          <ion-row>
            <ion-col>
              <ion-item lines="none" id="rem" class="ion-no-padding">
                <ion-label>Remember me</ion-label>
                <ion-checkbox mode="ios" slot="start"></ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col class="col-forgot" text-right>
              <p>Forgot Password?</p>
            </ion-col>
          </ion-row>
        </div>

      </div>
      <div class="loginbtn-holder" text-center>
        <ion-button size="block" type="submit" routerDirection="root" [disabled]="loginForm.invalid" (click)="login()">
          Login
        </ion-button>
      </div>

    </form>
    <div class="signup-holder" text-center padding-horizontal>
      <p>Don't have an account?&nbsp;<span (click)="goSignup()">Sign Up</span></p>
    </div>
  </div>
</ion-content>